@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #000;
}

img {
    margin-top: 156px;
    margin-left: 370px;
    margin-right: 370px;
    margin-bottom: 126px;
}

p {
    
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

.input-and {
    display: inline-block;
    height: 74px;
    width: 342px;
    font-size: 30px;
    text-align: start;
    padding-left: 16px;
    margin-top: 10px;
    margin-left: 62px;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.25);
    cursor: pointer;
    outline: 0;
    color: #fff;
}

.input-between {
    display: inline-block;
    width: 342px;
    height: 74px;
    font-size: 30px;
    margin-left: 300px;
    margin-top: 10px;
    text-align: start;
    padding-left: 16px;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.25);
    cursor: pointer;
    outline: 0;
    color: #fff;
}

::-webkit-input-placeholder  {color: #FFF; font-size: 30px; font-weight: 500; opacity: 0.7;}

button {
    display: flex;
    width: 342px;
    height: 72px;
    padding: 0px 76px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #AEC346;
    box-shadow: 0px 18px 40px 0px rgba(174, 195, 70, 0.35);
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 700;
    line-height: 2.5px; 
    font-size: 36px;
}

button:hover {
    opacity: 0.4;
}

button:active {
    opacity: 0.8;
}

@media (max-width: 1377px){
    img {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    p {
        width: auto;
        margin-bottom: 20px;
       
    }
    .input-and {
        display: block;
        margin: auto;
        width: 300px;
    }
    .input-between {
        display: block;
        margin: auto;
        margin-bottom: 20px;
        width: 300px;
    }
    button {
        width: 300px;
        margin-top: 20px;
    }
    
    
}